@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-image: url('./images/grey-background.jpg');
  background-size: cover;
  backdrop-filter: blur(3px);
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Lexend Deca', sans-serif;
}

header {
  background-image: url('./images/concert.jpg');
  background-size: cover;
  text-align: center;
  padding: 0.3rem;
  font-size: 1.5rem;
  color: #ff7424;
  font-family: 'Lexend Deca', sans-serif;
}

footer {
  text-align: center;
  font-size: 0.7rem;
  color: antiquewhite;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

/***** Classes *****/

.highlighted-events-area {
  color: #ff7424;
  text-align: center;
}

.event-search-area {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: #ff7424;
}
